.page-enter {
  opacity: 0;
}

.page-enter-active {
  opacity: 1;
  transition: opacity 800ms ease-in-out;
}

.page-exit {
  opacity: 1;
}

.page-exit-active {
  opacity: 0;
  transition: opacity 800ms ease-in-out;
}

/* Add a subtle fade for book page effect */
.book-fade-enter {
  opacity: 0;
}

.book-fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in-out;
}

.book-fade-exit {
  opacity: 1;
}

.book-fade-exit-active {
  opacity: 0;
  transition: opacity 1000ms ease-in-out;
}
