.app {
  text-align: center;
  width: 100vw;
  height: 100vh;
  background: var(--primary);
  display: flex;
  flex-direction: column;
}

.app__header {
  padding: 10px;
}

.app__main {
  flex: 1;
}

.app__footer {
  padding: 10px;
  font-size: 0.8rem;
  color: var(--subtle);
}
